.searchResultWrap {
  width: 1050px;
  margin: 55px auto 0;
  position: relative;
}

.searchResultWrap > h2 {
  font-size: 40px;
  letter-spacing: -0.7px;
  color: #282828;
  margin-bottom: 20px;
}

.searchResultWrap > h2 span {
  font-size: 22px;
  color: #4505e0;
}

.searchResultWrap > p {
  font-size: 18px;
  color: #282828;
}

.searchResultWrap > p img {
  vertical-align: middle;
}

.searchResultWrap .sortBox {
  position: absolute;
  top: 100px;
  right: 0;
  font-size: 18px;
  letter-spacing: -0.5px;
  color: #282828;
}

.searchResultWrap .sortBox.active ul {
  display: block !important;
}

.searchResultWrap .sortBox > div {
  display: inline-block;
  width: 160px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 12px;
  margin-left: 10px;
  border: solid 1px #282828;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.searchResultWrap .sortBox > div > ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
}

.searchResultWrap > ul.searchResultList {
  margin-top: 20px;
}

.searchResultWrap > ul.searchResultList > li {
  width: 49%;
  float: left;
  height: 180px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
}

.searchResultWrap > ul.searchResultList > li:nth-child(even) {
  float: right;
}

.searchResultWrap > ul.searchResultList > li > div {
  display: inline-block;
  vertical-align: middle;
}

.searchResultWrap > ul.searchResultList > li > div.imgBox {
  display: inline-block;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: solid 3px blue;
  position: relative;
}

.searchResultWrap > ul.searchResultList > li > div.imgBox > img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.searchResultWrap > ul.searchResultList > li > div.imgBox > span {
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: 10;
}

.searchResultWrap > ul.searchResultList > li > div.infoBox {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin-left: 20px;
}

.searchResultWrap > ul.searchResultList > li > div.infoBox h3 {
  font-family: NanumSquareOTFB;
  font-size: 24px;
  letter-spacing: -0.9px;
  color: #282828;
}

.searchResultWrap > ul.searchResultList > li > div.infoBox h3 span {
  font-family: NanumSquareOTFR;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -0.9px;
  color: #282828;
}

.searchResultWrap > ul.searchResultList > li > div.infoBox p {
  font-family: NanumSquareOTFB;
  line-height: 1.2;
  color: #282828;
  font-size: 14px;
}

.searchResultWrap > ul.searchResultList > li > div.infoBox p span {
  display: inline-block;
  width: 70px;
  letter-spacing: -0.9px;
  font-size: 18px;
  font-family: NanumSquareOTFL;
  color: #282828;
}

.searchResultWrap > ul.searchResultList > li > div.infoBox p strong {
  font-family: NanumSquareOTFB;
  font-size: 18px;
  letter-spacing: -1px;
  color: #282828;
}

.searchResultWrap > ul.searchResultList > li > div.infoBox > ul {
  margin-top: 10px;
}

.searchResultWrap > ul.searchResultList > li > div.infoBox > ul > li {
  display: inline-block;
  font-family: NanumSquareOTFR;
  font-size: 12px;
  margin-right: 15px;
  vertical-align: middle;
  text-align: center;
  color: #4505e0;
}

.searchResultWrap > ul.searchResultList > li > div.infoBox > ul > li img {
  vertical-align: sub;
  margin-right: 5px;
}

.searchResultWrap .btn_more {
  display: block;
  width: 230px;
  height: 50px;
  border-radius: 25px;
  background-color: #282828;
  font-family: NanumSquareOTFB;
  font-size: 22px;
  letter-spacing: -0.7px;
  color: #ffffff;
  border: none;
  margin: 30px auto;
}

.notFoundWrap {
  width: 1240px;
  margin: 95px auto 0;
}

.notFoundText {
  margin: 0 auto 50px;
  text-align: center;
}

.notFoundText > img {
  display: block;
  margin: 0 auto;
}

.notFoundText > h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.2px;
  margin: 26px auto 24px;
}

.notFoundText > p {
  font-family: NanumSquareOTFEB;
  font-size: 24px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #282828;
  line-height: normal;
}

.foundExtra {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 100px;
  padding-bottom: 134px;
}

.foundExtra .voiceCard {
  position: relative;
  float: left;
  width: 420px;
  height: 228px;
  -webkit-box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: solid 1px #f8f8f8;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 30px 26px;
}

.foundExtra .voiceCard .voiceCardImage {
  position: relative;
  float: left;
  width: 125px;
  height: 125px;
  margin-top: 50px;
  margin-left: 20px;
}

.foundExtra .voiceCard .voiceCardImage img.profile {
  width: 125px;
  height: 125px;
  border: solid 3px #ff1124;
  border-radius: 50%;
  overflow: hidden;
}

.foundExtra .voiceCard .voiceCardImage img.vv {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26px;
  height: 26px;
}

.foundExtra .voiceCard .voiceCardText {
  float: right;
  width: 244px;
  margin-top: 22px;
}

.foundExtra .voiceCard .voiceCardText p {
  width: 244px;
  font-family: NanumSquareOTFB;
  font-size: 18px;
  letter-spacing: -0.9px;
  line-height: 20px;
  color: #282828;
  margin-bottom: 7px;
}

.foundExtra .voiceCard .voiceCardText p span {
  font-weight: bold;
}

.foundExtra .voiceCard .voiceCardOption {
  position: absolute;
  bottom: 15px;
  right: 17px;
}

.foundExtra .voiceCard .voiceCardOption li {
  float: left;
  margin-left: 15px;
  font-family: NanumGothic;
  font-size: 12px;
  text-align: right;
}

.foundExtra .voiceCard .voiceCardOption li a {
  color: #4505e0;
}
/*# sourceMappingURL=search.css.map */