@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
.voiceListWrap {
  width: 1240px;
  margin: 0 auto;
}

.colorSpectrum {
  position: relative;
  padding-top: 30px;
}

.colorSpectrum > h2 {
  font-size: 40px;
  color: #282828;
}

.colorSpectrum > p {
  font-size: 20px;
  color: #282828;
}

.colorSpectrum > .language {
  position: absolute;
  right: 70px;
}

.colorSpectrum > .language > li {
  display: inline-block;
  font-family: NanumSquare;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.4px;
  margin-left: 22px;
}

.colorSpectrum > .language > li > a {
  color: #afafaf;
}

.colorSpectrum > .language > li.active > a {
  color: #4505e0;
}

.colorSpectrum .colorSpectrumList {
  display: inline-block;
  width: 500px;
  height: 500px;
  position: relative;
  top: 30px;
}

.colorSpectrum .colorSpectrumList > div {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transform-origin: 320px;
          transform-origin: 320px;
  position: absolute;
  top: 53%;
  left: -70px;
  cursor: pointer;
}

.colorSpectrum .colorSpectrumList > div > span {
  display: none;
  position: absolute;
  background: rgba(40, 40, 40, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.colorSpectrum .colorSpectrumList > div > span:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 5px solid rgba(40, 40, 40, 0.6);
  border-bottom: 5px solid none;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: 98%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.colorSpectrum .colorSpectrumList > div:hover > span {
  display: inline-block;
}

.colorSpectrum .colorSpectrumList > div.passion {
  background: #c70800 !important;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.colorSpectrum .colorSpectrumList > div.passion span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: -20px;
  right: -15px;
  width: 116px;
}

.colorSpectrum .colorSpectrumList > div.freedom {
  background: #ff3100 !important;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 20;
}

.colorSpectrum .colorSpectrumList > div.freedom span {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: -15px;
  left: -58px;
  width: 142px;
}

.colorSpectrum .colorSpectrumList > div.wisdom {
  background: #e8481c !important;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: 10;
}

.colorSpectrum .colorSpectrumList > div.wisdom span {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  top: 5px;
  left: -95px;
  width: 166px;
}

.colorSpectrum .colorSpectrumList > div.knowledge {
  background: #f8e71c !important;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.colorSpectrum .colorSpectrumList > div.knowledge span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 30px;
  left: -80px;
}

.colorSpectrum .colorSpectrumList > div.observation {
  background: #d8d94b !important;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.colorSpectrum .colorSpectrumList > div.observation span {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
  top: 55px;
  left: -90px;
}

.colorSpectrum .colorSpectrumList > div.stability {
  background: #4A5928 !important;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  z-index: 10;
}

.colorSpectrum .colorSpectrumList > div.stability span {
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
  top: 75px;
  left: -40px;
}

.colorSpectrum .colorSpectrumList > div.balance {
  background: #045D76 !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.colorSpectrum .colorSpectrumList > div.balance span {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  width: 160px;
  top: 80px;
  left: -40px;
}

.colorSpectrum .colorSpectrumList > div.creation {
  background: #067ef2 !important;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.colorSpectrum .colorSpectrumList > div.creation span {
  -webkit-transform: rotate(-210deg);
          transform: rotate(-210deg);
  top: 80px;
  right: -60px;
  width: 146px;
}

.colorSpectrum .colorSpectrumList > div.communication {
  background: #014d97 !important;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.colorSpectrum .colorSpectrumList > div.communication span {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
  top: 60px;
  right: -80px;
}

.colorSpectrum .colorSpectrumList > div.plan {
  background: #0d1a6e !important;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.colorSpectrum .colorSpectrumList > div.plan span {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  top: 30px;
  right: -75px;
}

.colorSpectrum .colorSpectrumList > div.trust {
  background: #623689 !important;
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  z-index: 10;
}

.colorSpectrum .colorSpectrumList > div.trust span {
  -webkit-transform: rotate(-300deg);
          transform: rotate(-300deg);
  top: 5px;
  right: -60px;
}

.colorSpectrum .colorSpectrumList > div.adoption {
  background: #BF3F86 !important;
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.colorSpectrum .colorSpectrumList > div.adoption span {
  -webkit-transform: rotate(-330deg);
          transform: rotate(-330deg);
  top: -15px;
  right: -56px;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox {
  background: #ddd;
  border-radius: inherit;
  width: 260px;
  height: 260px;
  top: 35%;
  left: 24%;
  position: relative;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox span {
  display: block;
  background: none;
  padding: 0;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  color: #282828;
  position: absolute;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox span:after {
  display: none;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox span.lightness {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -110px;
  top: 45%;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox span.saturation {
  left: 30px;
  bottom: -30px;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox .colorpicker {
  width: 100%;
  height: 100%;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox .colorpicker .colorpicker_color {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox .colorpicker .colorpicker_color > div {
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox .colorpicker .colorpicker {
  width: 100%;
  height: 100%;
}

.colorSpectrum .colorSpectrumList > div.colorPickerBox .colorpicker > div {
  display: none;
}

.colorSpectrum .voiceColorInfo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 200px;
}

.colorSpectrum .voiceColorInfo .time-machine {
  position: relative;
  top: 100px;
  z-index: 1;
  height: 550px;
  overflow: hidden;
  margin: 0 auto;
  width: 520px;
}

.colorSpectrum .voiceColorInfo .time-machine:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 500px;
  height: 90px;
  z-index: 10;
  -webkit-transform: translate(-50%, 150px);
  transform: translate(0, 150px);
}

.colorSpectrum .voiceColorInfo .swiper-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.colorSpectrum .voiceColorInfo .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 385px;
  height: 158px;
  -webkit-box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: solid 1px #f8f8f8;
  padding: 20px;
}

.colorSpectrum .voiceColorInfo .swiper-slide .imgBox {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  height: 130px;
  border: solid 3px red;
  border-radius: 50%;
}

.colorSpectrum .voiceColorInfo .swiper-slide .imgBox > img {
  width: 100%;
}

.colorSpectrum .voiceColorInfo .swiper-slide .infoBox {
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  margin-left: 15px;
}

.colorSpectrum .voiceColorInfo .swiper-slide .infoBox h3 {
  font-family: NanumSquareOTFB;
  font-size: 24px;
  letter-spacing: -0.9px;
  color: #282828;
}

.colorSpectrum .voiceColorInfo .swiper-slide .infoBox p {
  font-family: NanumSquareOTFB;
  font-size: 18px;
  letter-spacing: -0.9px;
  color: #282828;
}

.colorSpectrum .voiceColorInfo .swiper-slide .infoBox p span {
  display: inline-block;
  width: 80%;
  line-height: 1.2;
  font-family: NanumSquareOTFL;
  font-size: 14px;
  color: #282828;
}

.colorSpectrum .voiceColorInfo .swiper-slide .infoBox > ul {
  margin-top: 10px;
}

.colorSpectrum .voiceColorInfo .swiper-slide .infoBox > ul > li {
  display: inline-block;
  font-family: NanumSquareOTFR;
  font-size: 12px;
  margin-right: 15px;
  vertical-align: middle;
  text-align: center;
  color: #4505e0;
}

.colorSpectrum .voiceColorInfo .swiper-slide .infoBox > ul > li img {
  vertical-align: sub;
  margin-right: 5px;
}

.colorSpectrum .voiceColorInfo .arrow-btn {
  background: url(../images/arrow-down.png);
  width: 21px;
  height: 88px;
  opacity: 1;
  left: 450px;
}

.scrollDownBox {
  text-align: center;
  margin: 200px 0 100px;
}

.scrollDownBox h2 {
  font-family: NanumSquareOTFR;
  font-size: 50px;
  letter-spacing: -0.7px;
  color: #282828;
  margin-bottom: 60px;
}

.lnb {
  width: 280px;
  float: left;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0 0 80px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lnb > h2 {
  font-family: NanumSquareOTFEB;
  font-size: 40px;
  letter-spacing: -1.7px;
  margin: 20px 0 15px;
  color: #282828;
}

.lnb .lnbList > li {
  padding: 5px 0;
  font-size: 14px;
  font-weight: bold;
}

.lnb .lnbList > li > a {
  font-family: NanumSquareOTFR;
  font-size: 14px;
  letter-spacing: -0.6px;
  color: #282828;
  margin-right: 5px;
}

.lnb .lnbList > li > a.active {
  color: #4505e0;
}

.lnb .lnbList > li > ul {
  margin-top: 10px;
  margin-left: 11px;
}

.lnb .lnbList > li > ul > li {
  padding: 7px 0;
  font-weight: normal;
}

.lnb .lnbList > li > ul > li.active > a {
  color: #4505e0;
}

.lnb .lnbList > li > ul > li > a {
  display: block;
}

.contents {
  float: right;
  width: 940px;
}

.contents > h2 {
  font-size: 36px;
  font-weight: 800;
  color: #282828;
}

.contents > h2 > span {
  font-size: 22px;
  font-weight: bold;
  color: #ffb000;
}

.contents > p {
  font-size: 17px;
  color: #282828;
}

.contents > p img {
  width: 26px;
  vertical-align: bottom;
}

.contents > ul {
  margin-top: 20px;
  height: 800px;
}

.contents > ul.more {
  overflow-y: scroll;
  padding-right: 10px;
}

.contents > ul > li {
  float: left;
  width: 49%;
  height: 180px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.contents > ul > li:nth-child(even) {
  float: right;
}

.contents > ul > li > div {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}

.contents > ul > li > div.imgBox {
  display: inline-block;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: solid 3px blue;
  position: relative;
}

.contents > ul > li > div.imgBox > img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contents > ul > li > div.imgBox > span {
  position: absolute;
  bottom: -5px;
  right: 0px;
  z-index: 10;
  width: 36px;
  height: 36px;
}

.contents > ul > li > div.imgBox > span img {
  width: 100%;
}

.contents > ul > li > div.infoBox {
  width: 250px;
  margin-left: 20px;
}

.contents > ul > li > div.infoBox h2 {
  font-size: 24px;
  letter-spacing: -1px;
  color: #282828;
}

.contents > ul > li > div.infoBox h2 span {
  font-size: 12px;
  letter-spacing: -0.9px;
  color: #282828;
  font-weight: normal;
  margin-left: 5px;
}

.contents > ul > li > div.infoBox p {
  font-family: NanumSquareOTFR;
  font-size: 18px;
  letter-spacing: -1px;
  color: #282828;
  line-height: 1;
  margin-bottom: 10px;
}

.contents > ul > li > div.infoBox p span {
  display: inline-block;
  font-size: 14px;
  line-height: 1.1;
}

.contents > ul > li > div.infoBox ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.contents > ul > li > div.infoBox ul li img {
  vertical-align: sub;
  margin-right: 5px;
}

.contents .btn_more {
  display: block;
  width: 210px;
  height: 50px;
  margin: 30px auto;
  border-radius: 25px;
  background-color: #282828;
  font-family: NanumSquareOTFR;
  font-size: 22px;
  letter-spacing: -0.7px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.voiceType {
  padding-top: 30px;
}

.voiceType > h2 {
  font-size: 40px;
  color: #282828;
}

.voiceType > p {
  font-size: 20px;
  color: #282828;
}

.voiceType ul {
  text-align: center;
  margin: 60px 0;
}

.voiceType ul > li {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  text-align: center;
}

.voiceType ul > li span {
  display: block;
  margin-top: 50px;
  font-family: NanumSquareOTFB;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.7px;
  text-align: center;
  color: #282828;
}

.voiceType .btn_list {
  width: 530px;
  height: 80px;
  line-height: 80px;
  border-radius: 50px;
  background-color: #ffb000;
  font-size: 32px;
  letter-spacing: -0.8px;
  color: #282828;
  font-weight: bold;
  padding: 5px 20px;
  margin: 120px auto 200px;
  display: block;
  text-align: center;
}

.layerPop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.layerPop > .dim {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.layerPop > .dim .linkSelect {
  padding: 20px;
  background: #fff;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 850px;
  margin-left: -425px;
  -webkit-transform: rotate(50%);
          transform: rotate(50%);
}

.layerPop > .dim .linkSelect > h2 {
  font-size: 30px;
  text-align: center;
  color: #282828;
}

.layerPop > .dim .linkSelect > ul {
  text-align: center;
  margin: 40px 0;
}

.layerPop > .dim .linkSelect > ul > li {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin: 0 3%;
  text-align: center;
}

.layerPop > .dim .linkSelect > ul > li span {
  display: block;
  font-size: 20px;
  color: #282828;
  line-height: 1.2;
  margin-top: 10px;
}

.layerPop > .dim .linkSelect .btn_list {
  width: 380px;
  border-radius: 25px;
  background-color: #ffb000;
  font-size: 22px;
  letter-spacing: -0.8px;
  color: #282828;
  padding: 5px 20px;
  margin: 20px auto;
  display: block;
  text-align: center;
}

.layerPop > .dim .sign {
  width: 850px;
  padding: 100px 0;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #979797;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
}

.layerPop > .dim .sign p {
  font-size: 36px;
  font-weight: bold;
  color: #282828;
  margin-top: 20px;
}

.layerPop > .dim .sign p span {
  display: block;
  font-size: 24px;
  color: #d0021b;
  font-weight: normal;
}

.layerPop > .dim .sign .btn_signIn {
  display: inline-block;
  width: 280px;
  height: 49px;
  line-height: 49px;
  border-radius: 24.5px;
  background-color: #282828;
  font-size: 24px;
  color: #fff;
  margin-top: 50px;
}

.layerPop > .dim .sign .btn_close {
  position: absolute;
  top: 15px;
  right: 15px;
}
/*# sourceMappingURL=voiceList.css.map */