.voiceGenerate{
    border:1px solid red;
    width: 1240px;
    margin: 0 auto;
    padding: 70px 0 100px;
}
/*Tit*/
.voiceGenerate .voiceGenerateTit h2{
    font-size: 40px;
}
.voiceGenerate .voiceGenerateTit p {
    color:#ffb000;
    font-size:20px;
}

/*Body*/
.voiceGenerateBody{
    width: 850px;
    margin: 0 auto;
}

.voiceGenerateBody .guideProcess{
    overflow: hidden;
}
.voiceGenerateBody .guideProcess .guideBox{
    width: 50%;
    float: left;
}
.voiceGenerateBody .guideProcess .guideBox span{
    display: block;
    color: #4505e0;
    font-size:20px;
}

/*Footer*/
.voiceGenerateFooter {
    text-align: center;
    padding: 20px 0;
}
.voiceGenerateFooter .btnStart {
    display: inline-block;
    width: 240px;
    line-height: 44px;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 9999px;
    font-size: 20px;
}