.voiceListWrap {
  width: 1240px;
  margin: 0 auto;
}

.mesage {
  background: #4505e0;
}

.mesage .wrap {
  width: 1240px;
  margin: 0 auto;
  padding: 15px 0;
}

.mesage .wrap p {
  position: relative;
  color: #ffffff;
  font-size: 22px;
  line-height: 1;
}

.mesage .wrap p > a {
  font-weight: bold;
  color: #fff;
}

.mesage .wrap p > span {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.colorSpectrum {
  padding-top: 30px;
}

.colorSpectrum > h2 {
  font-size: 40px;
  color: #282828;
}

.colorSpectrum > p {
  font-size: 20px;
  color: #282828;
}

.colorSpectrum .colorSpectrumList {
  display: inline-block;
  width: 500px;
  padding: 30px;
  vertical-align: middle;
}

.colorSpectrum .colorSpectrumList > li {
  float: left;
  width: 80px;
  height: 80px;
  border: solid 5px transparent;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.5);
  margin: 15px;
  position: relative;
  cursor: pointer;
}

.colorSpectrum .colorSpectrumList > li.red {
  background: #c70800;
}

.colorSpectrum .colorSpectrumList > li.orangeRed {
  background: #ff3100;
}

.colorSpectrum .colorSpectrumList > li.orange {
  background: #e8481c;
}

.colorSpectrum .colorSpectrumList > li.yellow {
  background: #f8e71c;
}

.colorSpectrum .colorSpectrumList > li.green {
  background: #b8d94b;
}

.colorSpectrum .colorSpectrumList > li.darkGreen {
  background: #4a5928;
}

.colorSpectrum .colorSpectrumList > li.navy {
  background: #045d76;
}

.colorSpectrum .colorSpectrumList > li.skyblue {
  background: #067ef2;
}

.colorSpectrum .colorSpectrumList > li.blue {
  background: #014d97;
}

.colorSpectrum .colorSpectrumList > li.darkBlue {
  background: #0d1a6e;
}

.colorSpectrum .colorSpectrumList > li.purple {
  background: #623689;
}

.colorSpectrum .colorSpectrumList > li.pink {
  background: #bf3f86;
}

.colorSpectrum .colorSpectrumList > li:hover {
  border: solid 5px #4505e0;
}

.colorSpectrum .colorSpectrumList > li:hover span {
  display: block;
}

.colorSpectrum .colorSpectrumList > li span {
  display: none;
  position: absolute;
  font-size: 12px;
  letter-spacing: -0.5px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  padding: 2px 5px;
  width: 200%;
  left: -50%;
  text-align: center;
  z-index: 10;
}

.colorSpectrum .colorSpectrumList > li span:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.colorSpectrum .voiceColorInfo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 90px;
}

.colorSpectrum .voiceColorInfo .imgBox {
  display: inline-block;
  vertical-align: middle;
  width: 125px;
  height: 125px;
  border: solid 3px red;
  border-radius: 50%;
}

.colorSpectrum .voiceColorInfo .infoBox {
  display: inline-block;
  vertical-align: middle;
  width: 245px;
  margin-left: 15px;
}

.colorSpectrum .voiceColorInfo .infoBox dl {
  font-size: 17px;
  line-height: 1.2;
  margin-bottom: 6px;
}

.colorSpectrum .voiceColorInfo .infoBox dl dt {
  color: #666;
  display: inline-block;
}

.colorSpectrum .voiceColorInfo .infoBox dl dd {
  color: #282828;
  display: inline-block;
  font-weight: bold;
}

.colorSpectrum .voiceColorInfo .infoBox dl dd.colorTYPE {
  width: 145px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.colorSpectrum .voiceColorInfo .infoBox > ul {
  position: absolute;
  right: 45px;
  bottom: 15px;
}

.colorSpectrum .voiceColorInfo .infoBox > ul > li {
  display: inline-block;
}

.colorSpectrum .voiceColorInfo .infoBox > ul > li > a {
  font-family: NanumGothic;
  font-size: 12px;
  color: #4505e0;
  margin-left: 20px;
}

.lnb {
  width: 220px;
  float: left;
}

.lnb > h2 {
  font-size: 32px;
  color: #282828;
  letter-spacing: -1.3px;
  margin-bottom: 15px;
}

.lnb .lnbList > li {
  padding: 25px 0;
  font-size: 14px;
  border-bottom: solid 1px #afafaf;
}

.lnb .lnbList > li:first-child {
  border-top: solid 1px #afafaf;
}

.lnb .lnbList > li > ul {
  margin-top: 10px;
  margin-left: 11px;
}

.lnb .lnbList > li > ul > li {
  padding: 7px 0;
}

.lnb .lnbList > li > ul > li > a {
  display: block;
}

.slideWrap {
  margin: 50px auto 85px;
}

.pgwSlider {
  overflow: hidden;
}

.pgwSlider .ps-current {
  width: 855px;
}

.ps-list {
  width: 380px !important;
}

.contents {
  float: right;
  width: 900px;
}

.contents > h2 {
  font-size: 36px;
  font-weight: 800;
  color: #282828;
}

.contents > h2 > span {
  font-size: 22px;
  font-weight: bold;
  color: #ffb000;
}

.contents > p {
  font-size: 18px;
  color: #282828;
}

.contents > p img {
  vertical-align: middle;
}

.contents > ul {
  margin-top: 20px;
}

.contents > ul > li {
  height: 160px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 40px 30px;
}

.contents > ul > li > div {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}

.contents > ul > li > div.imgBox {
  display: inline-block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: solid 3px blue;
  position: relative;
}

.contents > ul > li > div.imgBox > img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contents > ul > li > div.imgBox > span {
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: 10;
}

.contents > ul > li > div.infoBox {
  width: 580px;
  margin: 0 20px;
}

.contents > ul > li > div.infoBox ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.contents > ul > li > div.infoBox ul li.vocieName {
  font-size: 24px;
  color: #282828;
}

.contents > ul > li > div.btnBox {
  width: 120px;
}

.contents > ul > li > div.btnBox > a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}

.layerPop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.layerPop > .dim {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.layerPop > .dim .linkSelect {
  padding: 20px;
  background: #fff;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 850px;
  margin-left: -425px;
  -webkit-transform: rotate(50%);
          transform: rotate(50%);
}

.layerPop > .dim .linkSelect > h2 {
  font-size: 30px;
  text-align: center;
  color: #282828;
}

.layerPop > .dim .linkSelect > ul {
  text-align: center;
  margin: 40px 0;
}

.layerPop > .dim .linkSelect > ul > li {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin: 0 3%;
  text-align: center;
}

.layerPop > .dim .linkSelect > ul > li span {
  display: block;
  font-size: 20px;
  color: #282828;
  line-height: 1.2;
  margin-top: 10px;
}

.layerPop > .dim .linkSelect .btn_list {
  width: 380px;
  border-radius: 25px;
  background-color: #ffb000;
  font-size: 22px;
  letter-spacing: -0.8px;
  color: #282828;
  padding: 5px 20px;
  margin: 20px auto;
  display: block;
  text-align: center;
}

.layerPop > .dim .sign {
  padding: 50px 20px;
  background: #fff;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 850px;
  margin-left: -425px;
  text-align: center;
  -webkit-transform: rotate(50%);
          transform: rotate(50%);
}

.layerPop > .dim .sign p {
  font-size: 30px;
  color: #282828;
}

.layerPop > .dim .sign p span {
  display: block;
  font-size: 24px;
  color: #d0021b;
}

.layerPop > .dim .sign .btn_signIn {
  display: inline-block;
  width: 280px;
  height: 49px;
  line-height: 49px;
  border-radius: 24.5px;
  background-color: #282828;
  font-size: 24px;
  color: #fff;
  margin-top: 50px;
}
/*# sourceMappingURL=voiceList.css.map */