@charset "UTF-8";
.generateWrap {
  width: 1240px;
  margin: 55px auto 0;
  position: relative;
}

.generateWrap > h2 {
  font-size: 40px;
  letter-spacing: -0.7px;
  color: #282828;
  margin-bottom: 75px;
}

.generateWrap > h2 span {
  display: block;
  font-family: NanumSquareOTFB;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.6px;
  color: #ffb000;
}

.generateWrap .stepBox {
  position: absolute;
  top: 30px;
  right: 0;
}

.generateWrap .guideBox {
  width: 850px;
  margin: 0 auto 250px;
  position: relative;
}

.generateWrap .guideBox > div {
  float: left;
}

.generateWrap .guideBox > div.pro {
  float: right;
}

.generateWrap .guideBox a {
  display: inline-block;
  width: 280px;
  height: 49px;
  line-height: 49px;
  border-radius: 24.5px;
  text-align: center;
  background-color: #282828;
  font-family: NanumSquareOTFB;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: -150px;
  margin-left: -140px;
}

.generateWrap .profileBox h2 {
  font-family: NanumSquareOTFB;
  font-size: 40px;
  letter-spacing: -1.1px;
  color: #282828;
}

.generateWrap .profileBox h2 span {
  display: block;
  font-family: NanumSquareOTFB;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -0.6px;
  color: #ffb000;
}

.generateWrap .profileBox > div {
  margin-top: 30px;
}

.generateWrap .profileBox > div > div {
  float: left;
  width: 925px;
  height: 450px;
  background: #fff;
}

.generateWrap .profileBox > div > div.imgBox {
  position: relative;
  width: 315px;
  background-color: #e8e8e8;
}

.generateWrap .profileBox > div > div.imgBox > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.generateWrap .profileBox > div > div.imgBox > div .voiceImg {
  margin-bottom: 30px;
}

.generateWrap .profileBox > div > div.imgBox > div > a span {
  display: block;
  font-family: NanumSquareOTFB;
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.8px;
  color: #282828;
}

.generateWrap .profileBox > div > div > ul {
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.generateWrap .profileBox > div > div > ul > li {
  margin-bottom: 20px;
}

.generateWrap .profileBox > div > div > ul > li.half {
  float: left;
  width: 50%;
}

.generateWrap .profileBox > div > div > ul > li h3 {
  display: inline-block;
  width: 180px;
  font-family: NanumSquareOTFB;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: #282828;
}

.generateWrap .profileBox > div > div > ul > li input {
  width: 180px;
  height: 29px;
  border-radius: 15px;
  background-color: #ffffff;
  border: solid 1px #282828;
  outline: none;
  font-family: NanumSquareOTFL;
  font-size: 16px;
  line-height: 1.69;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
}

.generateWrap .profileBox > div > div > ul > li input.long {
  width: 400px;
}

.generateWrap .profileBox > div > div > ul > li > span {
  font-family: NanumSquareOTFL;
  font-size: 18px;
  line-height: 1.5;
  color: #282828;
}

.generateWrap .profileBox > div > div > ul > li .selectBox {
  display: inline-block;
  width: 161.6px;
  height: 29px;
  border-radius: 14.5px;
  background-color: #ffffff;
  border: solid 1px #282828;
  font-family: NanumSquareOTFL;
  font-size: 16px;
  line-height: 1.69;
  text-align: center;
  color: #282828;
  position: relative;
  cursor: pointer;
}

.generateWrap .profileBox > div > div > ul > li .selectBox > span > em {
  display: inline-block;
  background: #c70800;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.generateWrap .profileBox > div > div > ul > li .selectBox:after {
  content: "∨";
  display: block;
  position: absolute;
  top: 40%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.generateWrap .profileBox > div > div > ul > li .selectBox.long {
  width: 400px;
}

.generateWrap .profileBox > div > div > ul > li .selectBox.active {
  border-radius: 14.5px 14.5px 0 0;
}

.generateWrap .profileBox > div > div > ul > li .selectBox.active > ul {
  display: block;
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100%;
  text-align: center;
  border: solid 1px #000;
  background: #fff;
  z-index: 10;
  border-top: none;
  border-radius: 0 0 14.5px 14.5px;
  padding-bottom: 10px;
}

.generateWrap .profileBox > div > div > ul > li .selectBox.active > ul > li {
  cursor: pointer;
}

.generateWrap .profileBox > div > div > ul > li .selectBox > ul {
  display: none;
}

.generateWrap .profileBox > div > div > ul > li .tagBox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.generateWrap .profileBox > div > div > ul > li .tagBox.on input {
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}

.generateWrap .profileBox > div > div > ul > li .tagBox > .tagList {
  width: 100%;
  position: absolute;
  top: 99%;
  padding: 5px 0;
  border: solid 1px #282828;
  border-top: none;
  border-radius: 0 0 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.generateWrap .profileBox > div > div > ul > li .tagBox > .tagList > span {
  margin: 5px;
  padding: 5px 25px 5px 15px;
  border-radius: 15px;
  background-color: #282828;
  display: inline-block;
  font-family: NanumSquareOTFL;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.generateWrap .profileBox > div > div > ul > li .tagBox > .tagList > span:after {
  content: "X";
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.generateWrap .profileBox .btn_next {
  display: block;
  width: 200px;
  height: 49px;
  line-height: 49px;
  margin: 50px auto;
  text-align: center;
  border-radius: 24.5px;
  background-color: #282828;
  font-family: NanumSquareOTFB;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.generateWrap .recordingBox h2 {
  font-family: NanumSquareOTFB;
  font-size: 40px;
  letter-spacing: -1.1px;
  color: #282828;
}

.generateWrap .recordingBox h2 span {
  display: block;
  font-family: NanumSquareOTFB;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -0.6px;
  color: #ffb000;
}

.generateWrap .recordingBox > div h3 {
  font-family: NanumSquareOTFB;
  font-size: 18px;
  color: #ff1124;
  margin: 30px 15px;
}

.generateWrap .recordingBox > div > img {
  display: block;
  margin: 0 auto;
}

.generateWrap .recordingBox > div .gaugeBox {
  margin-top: 30px;
}

.generateWrap .recordingBox > div .gaugeBox .gauge {
  width: 100%;
  height: 11px;
  border-radius: 5.5px;
  background-color: #afafaf;
  position: relative;
}

.generateWrap .recordingBox > div .gaugeBox .gauge .bar {
  display: inline-block;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#813de4), to(#5535e9));
  background: linear-gradient(to left, #813de4, #5535e9);
}

.generateWrap .recordingBox > div .gaugeBox ul {
  margin-top: 10px;
}

.generateWrap .recordingBox > div .gaugeBox ul li {
  float: left;
  margin-right: 6.8%;
  text-align: center;
  font-family: NanumSquareOTFR;
  line-height: 1;
  font-size: 14px;
  font-weight: normal;
  color: #afafaf;
}

.generateWrap .recordingBox > div .gaugeBox ul li.active {
  color: #4505e0;
  font-weight: bold;
}

.generateWrap .recordingBox > div .gaugeBox ul li:first-child {
  font-family: NanumSquareOTFEB;
  font-size: 14px;
  font-weight: bold;
  color: #282828;
}

.generateWrap .recordingBox > div .gaugeBox ul li:last-child {
  font-family: NanumSquareOTFEB;
  font-size: 14px;
  font-weight: bold;
  color: #282828;
  margin-right: 0;
}

.generateWrap .recordingBox > div .scriptBox {
  margin-top: 50px;
  background: #fff;
  padding: 30px;
}

.generateWrap .recordingBox > div .scriptBox p {
  font-family: NanumSquareOTFB;
  font-size: 30px;
  padding: 100px 0;
  line-height: 1.5;
  text-align: center;
  color: #282828;
}

.generateWrap .recordingBox > div .btnBox {
  text-align: center;
  margin: 100px 0;
}

.generateWrap .recordingBox > div .btnBox p {
  font-family: NanumSquareOTFR;
  font-size: 22px;
  letter-spacing: -0.4px;
  margin: 50px 0;
  color: #ff1124;
}

.generateWrap .recordingBox > div .btnBox > a {
  display: inline-block;
  margin: 0 25px;
}

.generateWrap .recordingBox > div .btnBox > a.btn_save {
  width: 320px;
  height: 49px;
  line-height: 49px;
  border-radius: 24.5px;
  background-color: #282828;
  font-family: NanumSquareOTFB;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.generateWrap .generateComplite h2 {
  font-family: NanumSquareOTFB;
  font-size: 40px;
  letter-spacing: -1.1px;
  color: #282828;
}

.generateWrap .generateComplite h2 span {
  display: block;
  font-family: NanumSquareOTFB;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -0.6px;
  color: #ffb000;
}

.generateWrap .generateComplite > div {
  text-align: center;
  line-height: 1.2;
  margin-top: 100px;
}

.generateWrap .generateComplite > div > h3 {
  font-family: NanumSquareOTFEB;
  font-size: 36px;
  margin-top: 30px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #282828;
  line-height: 1.2;
}

.generateWrap .generateComplite > div > p {
  font-family: NanumSquareOTFR;
  font-size: 28px;
  letter-spacing: -0.3px;
  color: #282828;
  margin: 30px 0;
}

.generateWrap .generateComplite > div > span {
  font-family: NanumSquareOTFR;
  font-size: 24px;
  color: #d0021b;
}

.generateWrap .generateComplite > div > ul li {
  display: inline-block;
  width: 280px;
  height: 49px;
  line-height: 49px;
  border-radius: 24.5px;
  background-color: #282828;
  font-family: NanumSquareOTFB;
  font-size: 24px;
  letter-spacing: -0.4px;
  margin: 40px 30px;
}

.generateWrap .generateComplite > div > ul li > a {
  display: block;
  color: #ffffff;
}
/*# sourceMappingURL=voicegenerate.css.map */