.profileWrap{
    width:1090px;
    min-height: 1000px;
    margin:0 auto;
    border:1px solid red;
    position: relative;
    padding-top: 40px;
}
// 왼쪽 메뉴
.profileLnb {
    position: absolute;
    left:0; top:0;
    width: 215px;
    padding-top: 40px;
}
.userName{
    font-size:32px;
    letter-spacing: -1.3px;
    color: #282828;
    line-height: 1;
    h2{
        letter-spacing: -1.6px;
    }
}
.profileList1{
    li{
        padding: 14px 0;
        border-bottom:2px solid #afafaf;
        font-size:14px;
        a{color: #282828;}
        &.active{
            a{color: #ffb000;}
        }
    }
}
.profileList2{
    padding: 14px 0;
    border-bottom:2px solid #afafaf;
    font-size:14px;
    li{
        padding: 5px 0;
    }
}

//오른쪽 콘텐츠
.profileContent{
    padding-left: 230px;
    border:1px solid blue;
}

.profileCard{
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    strong{
        font-size:20px;
        display: block;
        margin-bottom: 10px;
    }
    .profileCardInner{
        overflow: hidden;
        margin-bottom: 20px;
        .profileImg{
            width: 140px;
            float: left;
            text-align: center;
            img{ padding: 70px 0;}
        }
        .profileTxt{
            width: calc(100% - 250px);
            float: left;
            padding-left: 50px;
            border-left:2px solid #afafaf;
            dl{
                display: block;
                margin-bottom: 5px;
                dt{font-size:14px;color: #afafaf;}
                dd{
                    font-size: 18px;
                    letter-spacing: -0.9px;
                    color: #282828;
                    position: relative;
                    top: -5px;
                }
                &.half{
                    display: inline-block;
                    width: 240px;
                }
            }
            .btn-edit{
                position: absolute;
                right:25px;
                bottom:20px;
                display: block;
                background: #000;
                line-height: 30px;
                text-align: center;
                color:#fff;
            }
        }
    }
}
