.profileWrap{
    width:1090px;
    min-height: 1000px;
    margin:0 auto;
    position: relative;
    padding-top: 40px;
}
// 왼쪽 메뉴
.profileLnb {
    position: absolute;
    left:0; top:0;
    width: 215px;
    padding-top: 40px;
}
.userName{
    font-size:32px;
    letter-spacing: -1.3px;
    color: #282828;
    line-height: 1;
    h2{
        letter-spacing: -1.6px;
    }
}
.profileList1{
    li{
        padding: 24px 0;
        border-bottom:2px solid #afafaf;
        font-size:14px;
        a{color: #282828;}
        &.active{
            a{color: #ffb000;}
        }
    }
}
.profileList2{
    padding: 24px 0;
    border-bottom:2px solid #afafaf;
    font-size:14px;
    li{
        padding: 5px 0;
    }
}

//오른쪽 콘텐츠
.profileContent{
    padding-left: 230px;
}

.profileCard{
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    span{
        font-weight: bold;
        font-size:20px;
        display: block;
        margin-bottom: 10px;
    }
    .profileCardInner{
        overflow: hidden;
        .profileImg{
            width: 140px;
            float: left;
            margin-right: 20px;
            text-align: center;
            img{  }
        }
        .profileTxt{
            width: calc(100% - 220px);
            float: left;
            padding-left: 50px;
            border-left:2px solid #afafaf;
            position: relative;
            dl{
                display: block;
                margin-bottom: 5px;
                dt{font-size:14px;color: #afafaf;}
                dd{
                    font-size: 18px;
                    letter-spacing: -0.9px;
                    color: #282828;
                    position: relative;
                    top: -5px;
                }
                &.half{
                    display: inline-block;
                    width: 240px;
                }
            }
            .btn-edit{
                position: absolute;
                right:0;
                bottom:0;
                display: block;
                width: 100px;
                background: #282828;
                line-height: 30px;
                text-align: center;
                color:#fff;
                font-size:16px;
                border-radius: 17px;
            }
        }
    }
}
.profileList{
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    span{
        font-weight: bold;
        font-size:20px;
        display: block;
        margin-bottom: 10px;
    }
    .paymentList{
        width: 100%;
        table-layout: fixed;
        font-size:18px;
        thead > tr th {
            padding: 4px 0;
            border-bottom:1px solid #979797;
            text-align:left;
            font-weight: bold;
        }
        tbody > tr:first-child td {
            color: #4505e0;
            > a {color: #4505e0;}
        }
        tbody > tr td {
            padding: 4px 0;
            letter-spacing: -0.9px;
        }
    }
}

